.link-style {
  text-decoration: none;
  color: black;
}

.link-style:hover {
  text-decoration: none;
  color: gray;
}

.text-style {
  font-size: 30px !important;
  font-family: fantasy !important;
  color: brown !important;
}